[submodule "backend"]
	path = backend
	url = https://github.com/joao-paulo-yudi/StudyENEM-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/joao-paulo-yudi/StudyENEM-frontend.git
